body {
  font-family: avenir next, helvetica, sans-serif;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #ffdd57;
}

.yellow {
  color: #ffdd57;
}

.about {
  background-color: white;
}

.grey {
  background-color: #f5f5f5;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #ffdd57;

}

.navbar {
&.is-transparent {
background-color: transparent;
background-image: none;
}
}

.details {

  padding-bottom:32px;
}

table {
  background-color: transparent !important;
}

#map {
  height: 50vh;
  width: 100%;
}

#aboutImage {
  height: 80%;
  width:80%;
}

.footnote {
  padding-bottom: 2.5%;
}

.dark {
  background-color: #e7e7e7;
}

.padder {
  padding-top:1%;
}

.padderRegister {
  padding-top:15%;
}
.padderEvent {
  padding-top:20%;
  padding-left:5%;
}
.padderAbout {
  padding-top: 5%;
  padding-left:5%;
}
